/* Google Fonts */
/* Abril Fatface */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Typography */
/* List */
.dl-blurbs{
    width: 55%;
    margin: auto;
    margin-bottom: 14rem;
}
.dl-blurbs2{
    width: 55%;
    margin: auto;   
}
dl {
  counter-reset: count;
  padding-left: 4vw;
  padding-right: 4vw;
  margin: 0;
}
dl + dl {
  counter-reset: counter 4;
}
dt {
  counter-increment: count;
  color: #4f6d7aff;
  font-family: 'Montserrat', sans-serif;
  font-size: 2vw;
  opacity: 0.5;
  text-transform: uppercase;
}
dt::before {
    content: counter(count, decimal-leading-zero)".";
    font-family: 'Abril Fatface', cursive;
    opacity: 0.5;
  color: #4f6d7aff;
  font-size: 4vw;  
  margin-left: -1vw;
  padding-right: 12px;
}
dd {
  margin-left: 5vw;
  margin-bottom: 2vh;
}

/* Screen Sizes */
@media (min-width: 768px) and (max-width: 1023px) {
  /* List */
  dl {
    padding-left: 2vw;
  }
}

@media (min-width: 1024px) {
  /* List */
  dl {
    padding-top: 3vw;
    padding-bottom: 3vw;
  }
}
@media only screen and (min-width: 520px) and (max-width: 767px)  {

.dl-blurbs{
    margin-bottom: 10rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 924px)  {
    .dl-blurbs{
        margin-bottom: 10rem;
        width: 100%;
      }   
}
/* dl-gradient-right: linear-gradient(90deg, rgba(0,0,0,0.04) 20%, rgba(255,255,255,0) 0%); */

/* Global Functions */

/* Global Mixins */
/* Media Queries */
@media (min-width: 768px) and (max-width: 1023px) {
  .dl-blurbs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
  }
}
@media (min-width: 1024px) {
  .dl-blurbs {
    display: grid;
  }
}

